/* h1 */
/* https://www.cufonfonts.com/font/lovely-yollandy */
@font-face {
  font-family: "LovelyYollandy";
  font-style: normal;
  font-weight: normal;
  src: local("LovelyYollandy"),
    url("./fonts/Lovely_Yollandy.otf") format("opentype");
}

/* p */
/* https://fonts.google.com/specimen/Caveat */
@font-face {
  font-family: "Caveat";
  font-style: normal;
  font-weight: normal;
  src: local("Caveat"), url("./fonts/Caveat-Regular.ttf") format("truetype");
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 12pt;
  line-height: 1.4;

  --color-focus: rgb(128, 0, 128);
  --color-focus-middle: hsla(300, 100%, 25%, 0.3);
  --color-focus-light: hsla(356, 87%, 94%, 0.8);
  --color-gray: #495057;
  --color-gray-light: rgba(0, 0, 0, 0.1);
  --color-white: #e6e6e6;
}

.App {
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

h1 {
  line-height: 6rem;
  font-family: "LovelyYollandy", sans-serif;
  text-decoration: underline;
  font-size: 3rem;
  color: red;
}

p,
h3,
h4,
a {
  padding: 1vw;
  font-family: "Caveat", sans-serif;
  font-size: 28px;
  line-height: 2rem;
}

.section {
  padding: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
