#features {
  background-color: var(--color-gray-light);
}

.topics {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  align-items: center;
  justify-content: space-between;
}

.topic {
  line-height: 2.5rem;
  color: var(--color-gray);
  margin-top: 0.5rem;
  margin-bottom: 0;
  padding: 0 6vw;
  border-radius: 3px;
  font-weight: bold;
  font-size: 1.8rem;
}

.current {
  color: var(--color-white);
  background-color: var(--color-focus);
}

/* show only two rows when schrink */
@media screen and (max-width: 600px) {
  .topics {
    flex-direction: column;
    align-items: stretch;
  }
}
